@keyframes bar1 {
  0%, 100% { height: 10px; }
  50% { height: 35px; }
}

@keyframes bar2 {
  0%, 100% { height: 15px; }
  50% { height: 30px; }
}

@keyframes bar3 {
  0%, 100% { height: 8px; }
  50% { height: 40px; }
}


.player-volume-slider {
  &::-webkit-slider-runnable-track {
    @apply h-1 bg-white/10 rounded-full;
  }
  &::-moz-range-track {
    @apply h-1 bg-white/10 rounded-full;
  }
  &::-webkit-slider-thumb {
    @apply w-3 h-3 bg-white rounded-full appearance-none shadow-md;
    margin-top: -4px; /* Centra il thumb di 12px su un track di 4px */
  }
  &::-moz-range-thumb {
    @apply w-3 h-3 bg-white rounded-full border-none shadow-md;
  }
}